



<div class="container inicio text-white" *ngIf="inicio">
    <h1 class="titulo">Bienvenido al Juego de BlackJack!</h1>
    <div class="form-group col-md-8">
        <form [formGroup]="formularioInicioSesion">
            <br />
            Nombre de Usuario: <input class="form-control" type="text" name="nombreUsuario" formControlName="nombreUsuario"/>
            <div *ngIf="nombreUsuario?.touched && nombreUsuario?.invalid" style="color:red">
                *El nombre de usuario es obligatorio
            </div>
            <br />
            Password: <input class="form-control" type="password" name="password" formControlName="password"/>
            <div *ngIf="password?.touched && password?.invalid" style="color:red">
                *El password es obligatorio
            </div>
            <br />
            <br />
            <button [disabled]="!formularioInicioSesion.valid" (click)="comenzarJuego()" class="btn btn-success">Iniciar Sesion</button>
        </form>
    </div>
  
</div>
<app-juego [usuario]="usuario" (finalizarJuego)="finalizar($event)" *ngIf="comenzar"></app-juego>

<router-outlet></router-outlet>
